{% extends('base.html.twig') %}

{% form_theme form 'VASiteBundle:Form:fields.html.twig' %}

{% block title %}{{ system.name }}{% endblock %}
{% block headerTitle %}{{ system.name }}{% endblock %}

{% block headerList %}
    <li><a href="#star">{{ star.name }}</a></li>
    {% for planet in planets %}
        <li><a href="#planet{{ loop.index }}">{{ planet.name }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="star" id="star">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pull-left">
                    <div class="wow bounceInDown animated" data-wow-delay="0.1s"
                         style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
                        <img class="img img-responsive"
                             src={% if star.imgUrl %}{{ asset(star.imgUrl) }}{% else %}{{ asset('img/unknown.png') }}{% endif %}>
                    </div>
                </div>
                <div class="col-md-8">
                    <h2>{{ star.name }}</h2>

                    <p class="text-justify">{{ star.description|nl2br }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if planets %}
        <div class="planets container">
            {% for planet in planets %}
                <div class="planet row" id="planet{{ loop.index }}">
                    <div class="col-md-4 pull-{% if (loop.index % 2) == 0 %}left{% else %}right{% endif %}">
                        <div class="wow bounceInDown animated" data-wow-delay="0.1s"
                             style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
                            <img class="img img-responsive"
                                 src={% if planet.imgUrl %}{{ asset(planet.imgUrl) }}{% else %}{{ asset('img/unknown.png') }}{% endif %}>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h2>{{ planet.name }}</h2>

                        <p class="text-justify">{{ planet.description|nl2br }}</p>
                    </div>
                    {% if planet.satellites|length > 0 %}
                        <div class="col-md-12">
                            <div class="span4 collapse-group">
                                <div class="collapse text-justify">
                                    {% for satellite in planet.satellites %}
                                        {% if satellite %}
                                            <div class="row">
                                                <div class="satellite col-sm-2">
                                                    <img class="img img-responsive"
                                                            {% if satellite.imgUrl %} src=
                                                            {{ asset(satellite.imgUrl) }}
                                                            {% else %}
                                                            {{ asset('img/unknown.png') }}
                                                            {% endif %}>
                                                </div>
                                                <div class="col-sm-10">
                                                    <h2>{{ satellite.name }}</h2>

                                                    <p class="text-justify">{{ satellite.description }}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="text-center">
                                    <i class="moons fa fa-angle-down fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block contact %}
    <div class="contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Contact Form</h1>

                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                    <div class="status alert alert-success" style="display: none"></div>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="col-sm-12">
                            {{ form_row(form.subject) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_row(form.message) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-sm-6">
                    <h1>Connect with us</h1>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="fa-stack fa-2x" id="facebook">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}